.AdminPage {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.AdminOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.admin-option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.admin-option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #de8a05;
}

.card-title {
  font-size: 1.25rem;
  color: #333 !important;
  /* text-align: center; */
}

.mobile-message {
  text-align: center;
  color: #de8a05;
  font-size: 1.5rem;
  font-weight: bold;
}

.mobile-message-card {
  background-color: #ffffff;
  border: 1px solid #ffeeba;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-message-icon {
  font-size: 2.5rem;
  color: #ffc107;
  margin-bottom: 10px;
}

.mobile-message-card h2 {
  font-size: 1.5rem;
  margin: 0;
}
