.category {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  );
  gap: 10px;
  background-color: rgba(240, 248, 255, 0.3);
}

@media (min-width: 768px) {
  .category {
    grid-template-columns: repeat(
      4,
      1fr
    ); 
  }
}
