.explorer {
    height: 150px;
    width: 100%;
    margin-top: 5rem ;
    background-color: #303231;
}

.explorer h3 {
    padding-top: 15px;
    font-family: Poppins;
    text-align: center;
    color: #fff;
    margin: 0 0 0 0;
}

.explorer form {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

.explorer form input {
    
    height: 30px;
    width: 200px;
    border-radius: 6px;
    border-style: inset;
    border-color: #72635D;
}

.explorer form button {
   position: absolute;
   margin-top: 43px;
   margin-left: 871px;
   background-color: #DE8A05;
   width: 150px;
   height: 30px;
   border-style: none;
   border-radius: 15px;
   color: #ffff;

}