.explorer {
  height: max-content;
  width: 100%;
  background-color: hsl(150, 2%, 19%, 0.78);
  padding: 20px;
}
.suggestion-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.suggestion-item--highlighted {
  background-color: #f0f0f0;
}

.suggestions-container {
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
}
.explorer h4 {
  font-family: Poppins;
  text-align: center;
  color: #fff;
  margin: 0 0 0 0;
}

.explorer form {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.explorer form input {
  height: 35px;
  width: 250px;
  border-radius: 6px;
  border-style: inset;
  border-color: #72635d;
}

.buttonSearchExplorer {
  background-color: #de8a05;
  width: 250px;
  height: 35px;
  border-style: none;
  border-radius: 15px;
  color: #ffff;
}

@media (max-width: 600px) {
  .explorer form input {
    width: 130px;
    font-size: 2.3vw;
  }

  .buttonSearchExplorer {
    width: 130px;
    font-size: 2.3vw;
  }
}

.date-picker-wrapper {
  position: relative;
  z-index: 1;
}