.explorer {
  height: 155px;
  width: 100%;
  background-color: hsl(150, 2%, 19%, 0.78);
  padding: 20px;
}

.explorer h4 {
  font-family: Poppins;
  text-align: center;
  color: #fff;
  margin: 0 0 0 0;
}

.explorer form {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.explorer form input {
  height: 35px;
  width: 250px;
  border-radius: 6px;
  border-style: inset;
  border-color: #72635d;
}

.buttonSearchExplorer {
  background-color: #de8a05;
  width: 250px;
  height: 35px;
  border-style: none;
  border-radius: 15px;
  color: #ffff;
}

@media (max-width: 600px) {
  .explorer form input {
    width: 130px;
    font-size: 2.3vw;
  }

  .buttonSearchExplorer {
    width: 130px;
    font-size: 2.3vw;
  }
}
