.mb-4 {
  margin-bottom: 1.5rem;
}

.containerForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formProduct {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  min-width: 500px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-column h4 {
  margin-top: 20px;
  color: #de8a05;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.containerCheckbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.containerCheckbox label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.containerCheckbox input[type="checkBox"] {
  margin-right: 10px;
}

.containerCheckbox input[type="radio"] {
  margin-right: 10px;
}

.characteristics {
  margin-top: 10px;
}

.containerButton {
  text-align: center;
  margin-top: 20px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload label {
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.zIndex {
  z-index: 100000;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 20px;
}

.icon-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.icon-item.selected {
  border-color: #007bff;
  background-color: #e6f7ff;
}

.icon-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.icon-preview p {
  margin: 0;
}

.seeMore {
  color: #333c40;
  font-weight: bold;
  text-decoration: none;
}
