*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.containerForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 0 30px;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255, 0.75)), url(../../public/images/img_body.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    margin-bottom: 1rem;
}
h2{
    font-size:40px ;
    margin-bottom: 10px;
}

.containerForm p{
    font-size: 20px;
}

.containerForm h2{
    font-size:40px ;
    margin-bottom: 10px;
}

.containerForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background: linear-gradient(
        50deg,
        rgba(222,138,5,.7),
        rgba(148, 98, 23, 0.3),
        rgba(185, 161, 55, 0.4));
    border-radius:15px ; 
    box-shadow: 0 0 20px rgba(0,0,0, .9);   
    text-align: left;

}



.containerForm input, textarea{
    padding:20px 15px;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 0;
    outline: none;
    border-radius: 15px;
    font-size: 16px;
}

.containerForm textarea{
    margin-bottom: 15px;
}
/* 
#file{
    display: none;
} */

.containerForm button{
     width: 200px;
     height: 50px;
     border-radius: 25px;
     background-color: #DE8A05;
     color: #fff;    
 }

 .containerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.image-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 100%;
    background: linear-gradient(
        50deg,
        rgba(222,138,5,.7),
        rgba(148, 98, 23, 0.3),
        rgba(185, 161, 55, 0.4));
    border-radius:15px ; 
    box-shadow: 0 0 20px rgba(0,0,0, .9);
}

 .image-preview img{
     width:250;
     height:190;
     padding:0px 5px;
     margin: 5px;
  
 }

 .containerCheckbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }


