.center {
  width: 100%;
  position: absolute;
  z-index: 2;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: calc((100% - 1060px) / 2);
  padding-right: calc((100% - 1060px) / 2);
}
.hidden{
  display: none;
}
.titleCard {
  padding-left: 25px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.subtileCard {
  color: #9395a0;
  padding-left: 25px;
  padding-top: 0px;
}

.cardDetail {
  padding: 20px 50px 20px;
  border-radius: 20px;
  background-color: #fff;
  margin: 20px 50px 50px;
}

.containerImg {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.imgHero {
  width: 45%;
  border-radius: 20px;
}

.gridDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.description {
    text-align: center; 
  }

.containerButton {
  display: flex;
  justify-content: center;
}

.buttonG {
  background-color: gray;
  color: #fff;
  border: 2px solid orange;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buttonG:hover {
  background-color: orange;
}

.buttonSeeMore {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.slick-current {
  transform: scale(1.3);
  border-radius: 20px;
}

.carouselContainer {
  margin-top: 20px;
}

.carouselImageContainer {
  padding: 0 35px;
}

.carouselImage {
  width: 80%;
  border-radius: 10px;
  padding-top: 20px;
}

.features ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

@media (max-width: 600px){
  .gridDetail img {
    display: none; /* Oculta las imágenes pequeñas */
  }
  .imgHero {
    width: 100%; /* Ajusta el tamaño de la imagen principal para ocupar todo el ancho disponible */
  }
  .containerDetail {
    padding: 10px; /* Reduce el padding del contenedor */
    margin: 0 10px; /* Ajusta los márgenes para evitar el desplazamiento horizontal */
    width: calc(100% - 20px); /* Asegura que el contenedor ocupe el 100% del ancho disponible menos los márgenes */
  }
  .cardDetail {
    margin: 20px 10px 50px; /* Ajusta los márgenes del cardDetail */
    padding: 20px; /* Reduce el padding interno del cardDetail */
  } 
  .features ul {
  grid-template-columns: 1fr 1fr; /* Ajusta la grilla a dos columnas */
  }
}

@media (max-width: 340px){
  .containerDetail {
    padding: 10px; /* Reduce el padding del contenedor */
    margin: 0 5px; /* Ajusta los márgenes para evitar el desplazamiento horizontal */
    width: calc(100% - 10px); /* Asegura que el contenedor ocupe el 100% del ancho disponible menos los márgenes */
  }
  .cardDetail {
    margin: 20px 5px 50px; /* Ajusta los márgenes del cardDetail */
    padding: 15px; /* Reduce el padding interno del cardDetail */
  }
  .features ul {
    grid-template-columns: 1fr; /* Ajusta la grilla a una columna para pantallas muy pequeñas */
  }
  .buttonSeeMore button {
    font-size: 12px; /* Reduce el tamaño de la fuente del botón */
    padding: 8px 12px; /* Ajusta el padding del botón */
    display: flex;
    justify-content: center;
    text-align: center;
    }
}