*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerDetail{
    width: 100%;
    height: 100vh;
     
}

.cardDetail{   
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255, 0.75)), url(../../public/images/img_body.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
}

.buttonDetail{
    display: flex;
    justify-content: flex-end;
    align-items: center;      
}
.containerImg{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 90%;
   
}

.imgHero{
    width: 600px;
    border-radius: 20px;
    padding-right: 40px;
}

.gridDetail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;  
    flex-wrap: wrap; 
}
