.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #333;
  color: #fff;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto 1fr; /* Dividir en dos columnas, una para el logo y otra para el contenido */
  align-items: center; /* Alinear verticalmente */
}

.logo {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center; /* Alinear verticalmente */
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.coworking {
  font-size: 14px;
  padding: 10px;
}

.lema {
  font-size: 16px;
  padding: 10px;
  grid-column: 1 / span 2; 
}

.right-block {
  text-align: right;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #DE8A05;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #DE8A05;
}
@media (max-width: 600px) {
  .header {
    justify-content: center; 
    padding: 0 1vw; 
  }

  .logo img {
    width: 8vw;
    margin-right: 1vw;
  }

  .coworking {
    font-size: 3vw;
    padding: 0.5vw;
  }

  .lema {
    font-size: 3vw;
    padding: 0.5vw;
  }

  .right-block {
    justify-content: center; 
  }

  .button {
    border: 0.5vw solid #DE8A05;
    border-radius: 3vw;
    padding: 1vw 2vw;
    margin: 0.5vw;
    font-size: 2vw;
  }
}

/* Media query para 340x630 */
@media (max-width: 340px) {
  .header {
    grid-template-columns: 1fr; 
    width: 100vw; 
  }

  .logo img {
    width: 6vw;
    margin-left: 35vw; 
    margin-right: 1vw; 
  }

  .coworking {
    font-size: 3vw; 
    padding: 0.5vw; 
  }

  .lema {
    display: none;
  }

  .button {
    border: 0.4vw solid #DE8A05; 
    border-radius: 2vw; 
    padding: 0.8vw 1.6vw; 
    margin: 0.5vw; 
    font-size: 2vw; 
  }
}