.header {
  width: 100%;
  position: fixed;
  background-color: #333;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 60px;
}

.logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.coworking {
  font-size: 16px;
  font-weight: bold;
}

.lema {
  font-size: 14px;
  grid-column: 1 / span 2;
}

.right-block {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #de8a05;
  border-radius: 30px;
  padding: 0px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 170px;
  height: 40px;
}

.button:hover {
  background-color: #de8a05;
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
    padding: 0 1vw;
  }

  .logo img {
    width: 8vw;
    margin-right: 1vw;
  }

  .coworking {
    font-size: 2.5vw;
  }

  .lema {
    font-size: 2.3vw;
  }

  .button {
    border: 0.5vw solid #de8a05;
    border-radius: 4vw;
    margin: 0.5vw;
    font-size: 2.3vw;
    width: 100px;
    height: 30px;
  }
}

/* Media query para 340x630 */
@media (max-width: 340px) {
  .header {
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .logo img {
    width: 6vw;
    margin-left: 35vw;
    margin-right: 1vw;
  }

  .coworking {
    font-size: 3vw;
    padding: 0.5vw;
  }

  .lema {
    display: none;
  }

  .button {
    border: 0.4vw solid #de8a05;
    border-radius: 2vw;
    padding: 0.8vw 1.6vw;
    margin: 0.5vw;
    font-size: 2vw;
  }
}

.link-flex {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.user-initials-container {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background-color: #d8a353; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  font-size: 18px;
  margin-left: 10px;
}

.logged-in-section {
  display: flex;
  align-items: center;
}

.logout-link {
  color: white;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}