.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.page-item.active .page-link {
  background-color: #d8a353;
  border-color: #d8a353;
}

.page-link {
  color: #000000 !important;
}
