.container {
  justify-content: space-around;
}
@media (max-width: 600px) and (min-width: 341px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .recommend {
    width: 90%;
    display: contents;
  }
}

.container-background {
  background-color: rgba(181, 181, 181, 0.5);
  border: 2px solid #d8a353;
}
