/* 
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../../public/images/img_body.jpg);
    height: 100%;
}
.app-container{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
